extends auth

block auth
  form.login.form-horizontal(action="/users/session", method="post")
        p.error= message
        .control-group
          .controls
            input#email(type='text', name="email", placeholder='Email')

        .control-group
          .controls
            input#password(type='password', name="password", placeholder='Password')

        .form-actions
          button.btn-login-local(type='submit') Login
          &nbsp;
          | or&nbsp;
          a.show-signup(href="/signup") sign up
